<div id="<%= dom_id recipefood %>">
   <strong>Quantity:</strong>
    <%= recipefood.quantity %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= recipefood.recipe_id %>
  </p>

  <p>
    <strong>Food:</strong>
    <%= recipefood.food_id %>
  </p>
</div>
