<p style="color: green"><%= notice %></p>

<h2 class="section-title">Users</h2>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
    <hr>
  <% end %>
</div>
  <%= render current_user %>
</div>
dev
