
.recipe-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(27, 30, 204);
  padding: 1rem;
  margin: 1rem;
}

.recipe {
  padding: 1rem;
}

.recipe div {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  list-style-type: none;
  display: flex;
}

.nav_links li {
  padding: 0 7px;
}

.nav_links a {
  text-decoration: none;
}

#newrecipe {
  display: flex;
  justify-content: flex-end;
  width: 80vw;
  
}

#newrecipe > * {
  border: 2px solid green;
  border-radius: 3px;
  background-color: rgb(81, 159, 81);
  padding: 0.7rem;
  text-decoration: none;
  color: white;
}
